<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32198490570-bjj7eic1em90h6b0p3tmvdcnqgvh3okl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32198490570-bjj7eic1em90h6b0p3tmvdcnqgvh3okl</string>
	<key>API_KEY</key>
	<string>AIzaSyAK68t2jR7Gz2EZjUogkFEKcq5tSWKUt08</string>
	<key>GCM_SENDER_ID</key>
	<string>32198490570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-a9ff8</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-a9ff8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32198490570:ios:c0429d04d49f1eb9077733</string>
</dict>
</plist>